@page "/addNewEdgeDebug"
@using BlazorApp.Data
@using System.Text.Json
@using System.Text.Json.Serialization;
@using Radzen.Blazor;

<div>
    <h4>Choose 2 nodes to bind an edge between</h4>
        <RadzenCard>
            <!--RadzenDropDown AllowClear="true" TValue="string" AllowVirtualization="true" Class="w-100" 
                            AllowFiltering="true" Data=@customers TextProperty="CompanyName" ValueProperty="CustomerID"
                            Change=@(args => OnChange(args, "DropDown with virtualization")) /!-->

            <RadzenDropDown TValue="string" Data=@(names)/>
        </RadzenCard>
</div>
<RadzenCard>
            <RadzenDropDown TValue="string" Data=@(names2)/>
    </RadzenCard>
<RadzenButton Click=@(args =>doSomething()) Text="Add New Edge" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" />





@code {
    IEnumerable<Node> nodes;
    
    string[] names = {"title3", "title2", "title1"};
    string[] names2 = {"title1", "title2", "title3"};

    public void doSomething() {
        //kek
    }
    public class Node {
        [JsonPropertyName("name")]
        public string Name { get; set; }
    }
}