@page "/addNewEdgeDebug"
@using System.Text.Json
@using System.Text.Json.Serialization;
    <h4>Choose 2 nodes to bind an edge between</h4>
<button class="btn btn-success" @onclick="(() => doSomething())">Add new edge</button>





@code {
    IEnumerable<Node> nodes;
    
    string[] names = {"title3", "title2", "title1"};
    string[] names2 = {"title1", "title2", "title3"};

    public void doSomething() {
        //kek
    }
    public class Node {
        [JsonPropertyName("name")]
        public string name { get; set; }
    }
}