@page "/addNewNodeDebug"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>New node</h1>
<h3>Insert title</h3>
<EditForm Model ="@node" OnValidSubmit="@doNothing"> 
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="NodeTitle">Title</label>
        <InputText id="Title" @bind-Value="node.Title" class="form-control" />
    </div>
    <div class="form-group">
    <br />
    <button type="submit" class="btn btn-success" @onclick="(() => doNothing())">Create</button>
    </div>
</EditForm>







@code {
    public bool isCreated {get; set;} = false;
    private NodeCreateDTO node = new();

    private void doNothing() {
        Console.WriteLine("Node title: "+node.Title);

    }
    private async Task HandleValidSubmit() {
       /* var response = await Http.PostAsJsonAsync("api/Nodes", node);*/
        /*
        if (response.IsSuccessStatusCode) {
            Console.WriteLine("Succes!");
        } else {
            Console.WriteLine("Oh no it failed!");
        }*/
    } 
}