@page "/circle"
@page "/c"

<div class="circles">
    @for (int i = 0; i < strings.Count; i++)
    {
        var id = i;
        <div class="circle">
            <button class="circleButton" @onclick="(() => newText(id))">@strings[id]</button>
            <div class="edgeInfo" style=@display[id]></div>
        </div>

    }
</div>

<style>
    .circleButton {
        border-radius: 400px;
        height: 200px;
        width: 200px;
        color: white;
        fill: blue;
        background-color: #2fb7d0;
    }
    .edgeInfo {
        height: 200px;
        width: 200px;
        border-style: solid;
        border-color: black;
        border-width: 0.03px;
    }
    .circles {
        display: grid;
        grid-template-columns: repeat(auto-fill, 12rem);
        grid-gap: 0.9rem;
        justify-content: center;
        padding-left: 0;
        padding-bottom: 5px;
    }

</style>

@code {
    string color { get; set; } = "#2fb7d0";
    List<string> strings = new List<string> {"no silver bullet is the name of this article and noon and I mean NOONE can stop it!!!", "silver", "bullet", "a", "b", "c", "d", "e"};
    List<string> display = new List<string> {"display:none","display:none","display:none","display:none","display:none","display:none","display:none","display:none"};


    private void newText(int id) {
        if(display[id] == "display:none") {
            display[id] = "display:block";
        } else {
            display[id] = "display:none";
        }
    }
   
}

