@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>
<Circle/>
<button class="addNewButtons" @onclick="ToggleNewNode">Add New Article</button>
<button class="addNewButtons" @onclick="ToggleNewEdge">Add New Reference</button>
<p hidden="@hideNewEdge"><AddNewEdge/></p>
<p hidden="@hideNewNode"><AddNewNode/></p>

<style>
    .addNewButtons {
        background-color: #b6b5b3;
        color: white;
        width: 100px;
        height: 100px;
    }
</style>

@code {
    private bool hideNewNode {get; set;} = true;
    private bool hideNewEdge {get; set;} = true;
    private void ToggleNewNode() {
        hideNewNode = !hideNewNode;
        hideNewEdge = true;
    }
    private void ToggleNewEdge() {
        hideNewEdge = !hideNewEdge;
        hideNewNode = true;
    }
    private void Create()
    {
        var uri = $"{NavigationManager.BaseUri}addNewNodeDebug";

        NavigationManager.NavigateTo(uri);
    } 
}