@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>
<h1>Hello, world!</h1>
<Circle/>
<button class="btn btn-primary" @onclick="ToggleNewNode">Add new node</button>
<button class="btn btn-primary" @onclick="ToggleNewEdge">Add new edge</button>
<p hidden="@hideNewEdge"><AddNewEdge/></p>
<p hidden="@hideNewNode"><AddNewNode/></p>

@code {
    private bool hideNewNode {get; set;} = true;
    private bool hideNewEdge {get; set;} = true;
    private void ToggleNewNode() {
        hideNewNode = !hideNewNode;
        hideNewEdge = true;
    }
    private void ToggleNewEdge() {
        hideNewEdge = !hideNewEdge;
        hideNewNode = true;
    }
    private void Create()
    {
        var uri = $"{NavigationManager.BaseUri}addNewNodeDebug";

        NavigationManager.NavigateTo(uri);
    } 
}